<style>
  @media print {
    #sidebar {
      display: none;
    }

    #print {
      display: none;
    }

    .search {
      display: none;
    }

    .edit {
      display: none;
    }
  }
</style>

<%- include('partials/NewSideBar') %>
  <main class="bg-light">

    <div>
      <%- include('partials/navbar') %>
    </div>

    <div class="row mx-1 my-4">

      <div class="col-md-12 bg-white shadow-sm my-4" id="data-table">

        <div class="d-flex align-items-center justify-content-between">
          <div>
            <h2>All Students</h2>
            <p>This Table Conatains All The registered Students Details</p>
          </div>

          <form action="#" class="d-flex" id="search-btn">
            <input type="text" id="search-form" class="form-control search" placeholder="Enter Name">
            <button class="search mybtn bg-dark text-white mx-2">Search</button>
          </form>
        </div>



        <table class="table table-striped table-bordered">
          <thead>
            <tr class="bg-dark">
              <th class="text-white"></th>
              <th class="text-white">Name</th>
              <th class="text-white">Gender</th>
              <th class="text-white">Username</th>
              <th class="text-white">Contact No.</th>
              <th class="text-white">Email ID</th>
            </tr>
          </thead>
          <tbody>
            <% AllStudents.forEach(student=> { %>

              <tr>

                <td>
                  <% if (!student.profile_pic) { %>

                    <img src="/Assets/default_profile.jpg" alt="#"
                      style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">

                    <% }else{%>

                      <img src="/backend/images/<%= student.profile_pic %>" alt="#"
                        style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%;">

                      <%}%>
                </td>


                <td>
                  <%=student.first_name%>
                    <%=student.last_name%>
                </td>

                <!-- <td><%=student.dob%></td> -->
                <td>
                  <%=student.gender%>
                </td>
                <td>
                  <%=student.user_name%>
                </td>
                <td>
                  <%=student.phone_number%>
                </td>
                <td>
                  <%=student.email_id%>
                    </span>
                </td>
              </tr>

              <%}); %>
          </tbody>
        </table>




      </div>
    </div>

  </main>

  <script>

    let field = "";
    let searchform = document.getElementById('search-form');

    searchform.addEventListener('input', (event) => {
      field = event.target.value;
    })


    let searchbtn = document.getElementById('search-btn');
    searchbtn.addEventListener('submit', (event) => {
      event.preventDefault();
      window.location.href = `/elearning/api/v1/admin/students_list/?name=${field}`
    })


  </script>